
<div class="container" style="padding: 30px;">
    <mat-card>
        <mat-card-content>

            <table mat-table [dataSource]="products" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th class="bold-cell" mat-header-cell *matHeaderCellDef> ID</th>
                    <td mat-cell *matCellDef="let product">{{ product.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th class="bold-cell" mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let product">{{ product.name }}</td>
                </ng-container>

                <ng-container matColumnDef="img"  >
                    <th class="bold-cell" mat-header-cell *matHeaderCellDef>Image</th>
                    <td mat-cell *matCellDef="let product">{{ product.img }}</td>
                    <div class="product-image">
                        <!-- <img [src]="product.processedImg" alt="product-image"> -->
                        <!-- <img [src]="product.processedImg" *ngIf="product.processedImg" alt="{{ product.description }} Image" class="small-image"> -->
                    </div>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th class="bold-cell" mat-header-cell *matHeaderCellDef>Descriptions</th>
                    <td mat-cell *matCellDef="let product" class="bold-cell" >{{ product.description }}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th class="bold-cell" mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let product" class="bold-cell" >{{ product.price }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th class="bold-cell" mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let product">
                        <button mat-raised-button color="warn" (click)="deleteByProductId(product.id)">Delete</button>
                        <!-- <mat-menu #menu="matMenu">
                            <span>
                                <span>
                                    <button mat-menu-item (click)="changeOrderStatus(order.id, 'SHIPPED')">SHIPPED</button>
                                </span>
                                <span>
                                    <button mat-menu-item (click)="changeOrderStatus(order.id, 'DELIVERED')">DELIVERED</button>
                                </span>
                            </span>
                        </mat-menu> -->
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="['id', 'name', 'img','description', 'price', 'action']"></tr>
                <tr mat-row *matRowDef="let row; columns:['id', 'name', 'img', 'description', 'price', 'action']"></tr>

            </table>
        </mat-card-content>
    </mat-card>
</div>

<div class="container-manager">
    <h2>Add Product</h2>
    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
        
        <div class="file-upload-container">
            <label class="file-upload-label">
                <span>Select a file</span>
                <input type="file"  id="fileInput" (change)="onFileSelected($event)" hidden>
                <mat-icon>attach_file</mat-icon>
            </label>

            <div *ngIf="selectFile" class="image-preview">
                <div class="circle-image">
                    <img [src]="imagePreview" alt="selected image" class="preview-image">
                </div>
            </div>
        </div>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select a Category</mat-label>
            <mat-select formControlName="categoryId" name="categoryId">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="productForm.get('name')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Price</mat-label>
            <input type="number" matInput placeholder="Price" formControlName="price">
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Descriptions</mat-label>
            <input type="text" matInput placeholder="Description" formControlName="description">
            <mat-error *ngIf="productForm.get('description')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Add Product</button>

    </form>
</div>
