

<div class="container-manager">
    <h2>Add Category</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
        
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name">
            <mat-error *ngIf="categoryForm.get('name')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Descriptions</mat-label>
            <input matInput type="text" placeholder="Descriptions" formControlName="descriptions">
            <mat-error *ngIf="categoryForm.get('descriptions')?.hasError('required')">
                This input is required!
            </mat-error>
        </mat-form-field>

        <div class="file-upload-container">
            <h5 class="file-upload-title">Upload image</h5>
            <input type="file" accept=".png, .jpg" (change)="onFileSelected($event)" class="file-input">
            <div *ngIf="percentage$" class="progress-container">
                <mat-progress-bar  mode="determinate" [value]="(percentage$ | async) || 0" max="100" class="progress-bar"></mat-progress-bar>
                {{ (percentage$ | async) }} %
            </div>
        </div><br>

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" [disabled]="categoryForm.invalid" type="submit">Add Category</button>
            <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
        </div>
    </form>
</div>